{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div id="menu">
        <h5>User: {{user}}</h5>
        {%if user.is_authenticated%}
        <a href="{%url 'blog:logout'%}">Wyloguj</a>
        {%else%}
        <a href="{%url 'blog:login'%}">Zaloguj</a>
        {%endif%}

        {% include 'blog/menu.html' %}
     </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>My blog</h2>
        <p>This is my blog
         There is {% total_posts %} posts on this site.
        </p>
        <h3>Latest posts</h3>
        {% show_latest_posts 3 %}

        <h3>Most commented posts</h3>
        {% get_most_commented_posts as most_commented_posts %}
         <ul>
             {% for post in most_commented_posts %}
                 <li>
                 <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                 </li>
             {% endfor %}
         </ul>
    </div>
</body>
</html>